<div class="container">
  <h1 class="page-header">Manage Scheduled Transactions</h1>
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>To</th>
        <th>Date</th>
        <th>Amount</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Michael</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Jake</td>
      </tr>
    </tbody>
  </table>
</div>